Repository nextcloud/desktop, pull requests merged in 2020-06, with the labels that each got.

#1235 Fixing memory leaks in the encryption module
  src/libsync/clientsideencryption.cpp
Labels: 2. to review, feature: :lock: end to end encryption

#1257 Show a broken lock icon for unencrypted subdirectory
  src/gui/folderstatusmodel.cpp
  src/libsync/clientsideencryption.cpp
  src/libsync/clientsideencryption.h
  theme.qrc
  theme/lock-broken.svg
Labels: discussion, feature: :lock: end to end encryption

#2061 Improve command line version info and help display (gui & cmd)
  src/gui/application.cpp
  src/libsync/theme.cpp
Labels: enhancement

#2063 macOS: Opt In to Dark Mode for building against older macOS SDKs < 10.14
  cmake/modules/MacOSXBundleInfo.plist.in
Labels: design, os: :apple: macOS

#1885 Don't show a message box if the entered url returned an error
  src/gui/owncloudsetupwizard.cpp
Labels: 2. to review

#2071 [stable-2.6] Linux/Wayland: Updated .desktop file naming scheme
  NEXTCLOUD.cmake
  admin/linux/build-appimage.sh
  config.h.in
  src/common/utility_unix.cpp
  src/gui/CMakeLists.txt
  src/gui/application.cpp
Labels: os: :penguin: Linux, os: :smiling_imp: FreeBSD

#2072 [stable-2.6] AppImage: Upgrade to Qt 5.12.8
  admin/linux/build-appimage.sh
Labels: os: :penguin: Linux, package: appimage

#2059 Change width of app menu
  src/gui/tray/Window.qml
Labels: 2. to review, design, enhancement, feature: :cloud: system tray

#2058 Fix/improve use case without local folder
  src/gui/tray/ActivityListModel.cpp
  src/gui/tray/UserModel.cpp
  src/gui/tray/UserModel.h
  src/gui/tray/Window.qml
Labels: 2. to review

#2075 Fix nullptr regression in RegistryUtil::ReadRegistry
  shell_integration/windows/OCUtil/RegistryUtil.cpp
Labels: bug, high, os: :door: Windows, regression

#1939 Major multi monitor improvements and rewrite of tray window positioning
  src/common/utility.h
  src/common/utility_win.cpp
  src/gui/systray.cpp
  src/gui/systray.h
  src/gui/tray/Window.qml
Labels: 2. to review, design, feature: :cloud: system tray

#1890 Create HeaderButton QML component
  resources.qrc
  src/gui/tray/HeaderButton.qml
  src/gui/tray/Window.qml
Labels: 2. to review

#1886 Move the proxyfiles to libsync where they make more sense
  src/gui/CMakeLists.txt
  src/libsync/CMakeLists.txt
  src/libsync/clientproxy.cpp
  src/libsync/clientproxy.h
  test/CMakeLists.txt
Labels: 2. to review

#2109 Default system proxy not working with Account Wizard (fixes #2108)
  src/libsync/account.cpp
Labels: bug, os: :door: Windows

#2129 Fix crash in UserModel::currentUser() and add more sanity checks
  src/gui/tray/UserModel.cpp
Labels: 2. to review, bug, high, regression
