Repository nextcloud/desktop, pull requests merged in 2020-10, with the labels that each got.

#2497 macOS: Fix memory leak in FolderWatcherPrivate::startWatching
  src/gui/folderman.cpp
  src/gui/folderwatcher_mac.cpp
  src/gui/folderwatcher_mac.h
Labels: bug, os: :apple: macOS

#2503 [stable-2.6] macOS: Fix memory leak in FolderWatcherPrivate::startWatching
  src/gui/folderwatcher_mac.cpp
Labels: bug, os: :apple: macOS

#2500 Windows MSI: Update Docs & add SKIPAUTOUPDATE property
  admin/win/msi/Nextcloud.wxs
  doc/installing.rst
Labels: documentation, feature: :inbox_tray: install and update, os: :door: Windows, technical debt

#2512 Handle redirects when downloading updates
  src/gui/updater/ocupdater.cpp
Labels: feature: :inbox_tray: install and update

#2580 Delay initialization of SettingsDialog
  src/gui/owncloudgui.cpp
  src/gui/settingsdialog.cpp
Labels: feature: :gear: settings
