Repository nextcloud/desktop, pull requests merged in 2020-07, with the labels that each got.

#2141 Delete a space character
  src/libsync/encryptfolderjob.cpp
Labels: design

#2140 Change the space character to a dot
  src/gui/accountsettings.cpp
Labels: design

#2102 Fix hover cutoff in apps menu
  src/gui/tray/UserLine.qml
  src/gui/tray/Window.qml
Labels: feature: :cloud: system tray

#2127 ConfigFile security: Migrate Proxy password to keychain
  src/gui/CMakeLists.txt
  src/gui/creds/keychainchunk.cpp
  src/gui/creds/keychainchunk.h
  src/gui/creds/webflowcredentials.cpp
  src/gui/creds/webflowcredentials.h
  src/gui/proxyauthhandler.cpp
  src/gui/proxyauthhandler.h
  src/libsync/CMakeLists.txt
  src/libsync/configfile.cpp
  src/libsync/configfile.h
  src/libsync/creds/keychainchunk.cpp
  src/libsync/creds/keychainchunk.h
Labels: 2. to review, feature: :gear: settings, feature: :key: authentication, medium, security

#2163 Set maximum height of account and app menu
  src/gui/tray/Window.qml
Labels: feature: :cloud: system tray

#2183 Prevent empty FileMap in local csync to be processed if folder not empty
  src/libsync/syncengine.cpp
Labels: 2. to review, backport-request, bug, feature: :arrows_counterclockwise: sync engine

#2184 [stable-2.6] Prevent empty FileMap in local csync to be processed if folder not empty
  src/libsync/syncengine.cpp
Labels: 1. to develop, 4. to test, bug, feature: :arrows_counterclockwise: sync engine, high

#2188 Move existing syncjournal db files from client ver <2.7
  src/gui/folderman.cpp
Labels: 1. to develop, discussion

#2211 Logo update for 2.7
  admin/win/nsi/installer.ico
  admin/win/nsi/page_header.bmp
  admin/win/nsi/welcome.bmp
  theme/colored/1024-Nextcloud-icon.png
  theme/colored/128-Nextcloud-icon.png
  theme/colored/150-Nextcloud-w10startmenu.png
  theme/colored/16-Nextcloud-icon.png
  theme/colored/24-Nextcloud-icon.png
  theme/colored/256-Nextcloud-icon.png
  theme/colored/32-Nextcloud-icon.png
  theme/colored/48-Nextcloud-icon.png
  theme/colored/512-Nextcloud-icon.png
  theme/colored/64-Nextcloud-icon.png
  theme/colored/70-Nextcloud-w10startmenu.png
  theme/colored/Nextcloud-icon.svg
Labels: 2. to review, design, enhancement

#2208 Add -no-strip cmd line arg to macdeployqt if when building with Debug…
  src/gui/CMakeLists.txt
Labels: 2. to review

#2213 Drone: Upload AppImage to GitHub using nextcloud-desktop-bot
  .drone.yml
  admin/linux/upload-appimage.sh
Labels: 2. to review, 4. to test, CI, enhancement, package: appimage

#2218 Fix Windows installer graphics files for 2.7
  admin/win/nsi/installer.ico
  admin/win/nsi/page_header.bmp
  admin/win/nsi/welcome.bmp
Labels: design, regression

#2224 Update CI for Qt 5.12.9
  .drone.yml
  admin/linux/build-appimage.sh
  admin/linux/upload-appimage.sh
Labels: CI, package: appimage

#2164 Let context menu open wizard if there are no accounts
  src/gui/owncloudgui.cpp
  src/gui/systray.cpp
  src/gui/systray.h
Labels: feature: :cloud: system tray
