Repository nextcloud/desktop, pull requests merged in 2021-11, with the labels that each got.

#3612 Bugfix/fix vfs pin state
  src/gui/folder.cpp
  src/libsync/syncengine.cpp
  src/libsync/syncengine.h
  src/libsync/vfs/cfapi/cfapiwrapper.cpp
Labels: 1. to develop

#3972 Fix focus indicator
  src/gui/tray/HeaderButton.qml
  src/gui/tray/UserLine.qml
  src/gui/tray/Window.qml
Labels: 3. to release, feature: :cloud: system tray, accessibility

#3971 Make scrolling with a touchpad in activity list and search result more natural
  src/3rdparty/kirigami/wheelhandler.cpp
  src/3rdparty/kirigami/wheelhandler.h
  src/gui/CMakeLists.txt
  src/gui/systray.cpp
  src/gui/tray/.wheelhandler.h.swo
  src/gui/tray/ActivityList.qml
  src/gui/tray/Window.qml
Labels: 3. to release, feature: :cloud: system tray

#3994 Cleanup system bindings from Windows when removing a local sync folder
  src/common/utility.cpp
  src/common/utility.h
  src/common/utility_mac.cpp
  src/common/utility_unix.cpp
  src/common/utility_win.cpp
  src/gui/accountsettings.cpp
Labels: 2. to review
