Repository nextcloud/desktop, pull requests merged in 2024-07, with the labels that each got.

#6864 avoid logs too verbose and with binary data
  src/libsync/vfs/cfapi/cfapiwrapper.cpp
Labels: backport-request

#6868 avoid deadlock: cancel hydration requests coming from itself
  src/libsync/vfs/cfapi/cfapiwrapper.cpp
Labels: backport-request

#6780 Check if sync item is actually a folder before processing it
  src/libsync/discovery.cpp
  test/testsyncmove.cpp
Labels: backport-request

#6892 Fix permanent freeze upon opening macOS VFS settings
  src/gui/macOS/fileproviderxpc_mac.mm
Labels: backport-request, os: :apple: macOS, feature: :minidisc: virtual filesystem

#6898 Build file provider module in CI runs
  .github/workflows/macos-build-and-test.yml
Labels: os: :apple: macOS, feature: :minidisc: virtual filesystem

#6929 Upgrade to NextcloudFileProviderKit stable-1.0
  shell_integration/MacOSX/NextcloudIntegration/FileProviderExt/FileProviderExtension+ClientInterface.swift
  shell_integration/MacOSX/NextcloudIntegration/FileProviderExt/FileProviderExtension+Thumbnailing.swift
  shell_integration/MacOSX/NextcloudIntegration/FileProviderExt/FileProviderExtension.swift
  shell_integration/MacOSX/NextcloudIntegration/FileProviderExt/Info.plist
  shell_integration/MacOSX/NextcloudIntegration/NextcloudIntegration.xcodeproj/project.pbxproj
Labels: os: :apple: macOS, feature: :minidisc: virtual filesystem

#6921 Add additional options to make cross-compiling client feasible with Mac Crafter
  admin/osx/mac-crafter/Sources/main.swift
Labels: os: :apple: macOS, building

#6897 Fix clickable area of macOS VFS settings checkboxes
  src/gui/macOS/ui/FileProviderFastEnumerationSettings.qml
  src/gui/macOS/ui/FileProviderSettings.qml
Labels: backport-request, os: :apple: macOS, feature: :minidisc: virtual filesystem

#6860 ci(clang-tidy-review): Fix for qt6 + swap to docker-ci container
  .github/workflows/clang-tidy-review.yml
Labels: bug, CI, 3. to review

#6916 chore: update workflows from templates
  .github/workflows/fixup.yml
Labels: dependencies, automated, 3. to review

#6803 Add Edit Locally support to macOS virtual files module
  src/gui/CMakeLists.txt
  src/gui/application.cpp
  src/gui/cocoainitializer_mac.mm
  src/gui/editlocallyjob.cpp
  src/gui/editlocallyjob.h
  src/gui/editlocallymanager.cpp
  src/gui/editlocallymanager.h
  src/gui/editlocallyverificationjob.cpp
  src/gui/editlocallyverificationjob.h
  src/gui/macOS/fileprovider.h
  src/gui/macOS/fileprovider_mac.mm
  src/gui/macOS/fileproviderdomainmanager.h
  src/gui/macOS/fileproviderdomainmanager_mac.mm
  src/gui/macOS/fileprovidereditlocallyjob.cpp
  src/gui/macOS/fileprovidereditlocallyjob.h
  src/gui/macOS/fileprovidereditlocallyjob_mac.mm
Labels: os: :apple: macOS, feature: :minidisc: virtual filesystem

#6930 Reflect File Provider domain sync status in tray icon (macOS VFS)
  shell_integration/MacOSX/NextcloudIntegration/FileProviderExt/FileProviderExtension+ClientInterface.swift
  shell_integration/MacOSX/NextcloudIntegration/FileProviderExt/FileProviderExtension+EnumerationListener.swift
  shell_integration/MacOSX/NextcloudIntegration/FileProviderExt/FileProviderExtension.swift
  shell_integration/MacOSX/NextcloudIntegration/NextcloudIntegration.xcodeproj/project.pbxproj
  src/gui/application.cpp
  src/gui/application.h
  src/gui/macOS/fileprovider.h
  src/gui/macOS/fileprovider_mac.mm
  src/gui/macOS/fileprovidersocketcontroller.cpp
  src/gui/macOS/fileprovidersocketcontroller.h
  src/gui/macOS/fileprovidersocketserver.cpp
  src/gui/macOS/fileprovidersocketserver.h
  src/gui/macOS/fileproviderxpc.h
  src/gui/macOS/fileproviderxpc_mac.mm
  src/gui/owncloudgui.cpp
Labels: os: :apple: macOS, feature: :minidisc: virtual filesystem, feature: :cloud: system tray
