Repository nextcloud/desktop, pull requests merged in 2025-09, with the labels that each got.

#8690 fix(ActivityList): attach vertical scrollbar, having minimum width and thumbsize, to the right of the traymenu
  src/gui/tray/ActivityList.qml
  theme/Style/Style.qml
Labels: 3. to review

#8715 Updated NextcloudFileProviderKit Reference
  shell_integration/MacOSX/NextcloudIntegration/NextcloudIntegration.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: bug, os: :apple: macOS, feature: :minidisc: virtual filesystem, 3. to review, dependencies

#8709 feat(login): use stored credential user ID when authenticating again
  src/gui/creds/flow2auth.cpp
  src/libsync/account.cpp
  src/libsync/account.h
Labels: 3. to review

#8742 Change encryption message icon to info icon
  REUSE.toml
  src/gui/accountsettings.cpp
  theme.qrc.in
  theme/info.svg
Labels: feature: :cloud: GUI

#8746 fix(applicationName): ensure correct application name is shown to users
  src/gui/connectionvalidator.cpp
  src/gui/tray/MainWindow.qml
  src/gui/tray/usermodel.cpp
Labels: 3. to review

#8462 Implement more prominent quota warning
  src/gui/accountmanager.cpp
  src/gui/generalsettings.cpp
  src/gui/generalsettings.h
  src/gui/generalsettings.ui
  src/gui/tray/usermodel.cpp
  src/gui/tray/usermodel.h
  src/libsync/account.h
  src/libsync/configfile.cpp
  src/libsync/configfile.h
  src/libsync/discovery.cpp
  src/libsync/discovery.h
  src/libsync/syncengine.cpp
Labels: feedback-requested

#8747 feat(craft): use newer craft blueprints and newer Qt version
  .github/workflows/macos-build-and-test.yml
  .github/workflows/windows-build-and-test.yml
  cmake/modules/FindWrapOpenGL.cmake
  craftmaster.ini
  src/common/filesystembase.cpp
  src/common/syncjournaldb.cpp
  src/common/utility.cpp
  src/common/utility.h
  src/gui/accountsettings.cpp
  src/gui/application.cpp
  src/gui/folder.cpp
  src/gui/folderman.cpp
  src/gui/folderwatcher.cpp
  src/gui/generalsettings.cpp
  src/gui/main.cpp
  src/gui/owncloudgui.cpp
  src/gui/socketapi/socketapi.cpp
  src/gui/systray.cpp
  src/gui/updater/updater.cpp
  src/gui/wizard/owncloudwizard.cpp
  src/libsync/configfile.cpp
  src/libsync/creds/httpcredentials.cpp
  src/libsync/creds/keychainchunk.cpp
  src/libsync/creds/keychainchunk.h
  src/libsync/logger.cpp
  src/libsync/owncloudpropagator.cpp
  src/libsync/syncfilestatustracker.cpp
  src/libsync/theme.cpp
  test/syncenginetestutils.cpp
  test/syncenginetestutils.h
  test/testfolderwatcher.cpp
  test/testsyncengine.cpp
Labels: 2. developing

#8801 feat: Neutral folder state icons
  src/gui/folderstatusmodel.cpp
  src/libsync/theme.cpp
  src/libsync/theme.h
Labels: feature: :cloud: GUI

#8794 feat: neutral in-app icons
  src/gui/tray/syncstatussummary.cpp
  src/libsync/theme.cpp
  src/libsync/theme.h
  theme.qrc.in
Labels: feature: :cloud: GUI

#8811 Updated NextcloudFileProviderKit reference to 7.1.5
  shell_integration/MacOSX/NextcloudIntegration/FileProviderUIExt/Locking/LockViewController.swift
  shell_integration/MacOSX/NextcloudIntegration/NextcloudIntegration.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: os: :apple: macOS, feature: :minidisc: virtual filesystem, feature: :file_folder: file provider

#8804 fix(folderstatusdelegate): improve rendering of status icons on HiDPI screens
  src/gui/folderstatusdelegate.cpp
  src/gui/folderstatusdelegate.h
  src/gui/folderstatusmodel.cpp
Labels: feature: :cloud: GUI

#8724 fix(encryption/token): try to init the token again after errors
  src/gui/accountmanager.cpp
  src/gui/accountsettings.cpp
  src/gui/connectionvalidator.cpp
  src/libsync/account.cpp
  src/libsync/clientsideencryption.cpp
  src/libsync/clientsideencryption.h
  src/libsync/updatee2eefolderusersmetadatajob.cpp
Labels: feature: :lock: end to end encryption, 3. to review

#8816 fix(gui): do not set fallback QML style ourselves
  src/gui/main.cpp
Labels: feature: :cloud: GUI
